.rightform > div > input {
    width: 740px;
    border: 1px solid;

}

.rightform > div > input:focus-visible {
    outline: none;
    border: 2px solid;
    box-shadow: 0px 0px 0px 0px;
    /* background-color: #f2f2f2; */

    
    
}


.rightform > div > div > input {
    width: 348px;
    border: 1px solid;
}

.rightform > div > div > input:focus-visible {
    outline: none;
    border: 2px solid;
    box-shadow: 0px 0px 0px 0px;
    /* background-color: #f2f2f2; */

    
}



.rightform > div > textarea {
    width: 740px;
    border: 1px solid;

}

.rightform > div > textarea:focus-visible {
    outline: none;
    border: 2px solid;
    box-shadow: 0px 0px 0px 0px;
    /* background-color: #f2f2f2; */

    
    
}