#sales-chart-card-wrapper.sales-chart-card-container {
    /* max-width: 850px; */
    width: 100%;
    /* height: 45%; */
    margin: 1.5rem auto;
    padding: 1.5rem;
    border-radius: 14px;
    background-color: #fff;
    /* box-shadow: 0 8px 24px rgba(0, 0, 0, 0.08); */
    font-family: 'Poppins', sans-serif;
    /* position: absolute; */
    border: 2px solid #e6e6e6;

  }
  
  .sales-chart-card-header {
    /* background-color: red; */
    width: 200px;
    /* height: 80px; */
    padding: 0px 40px;
    margin-bottom: 1rem;
    /* border-radius: 40px ; */
  }
  
  .sales-chart-amount {
    font-size: 1.8rem;
    font-weight: 600;
    color: #111827;
    margin: 0;
  }
  
  .sales-chart-subtitle {
    font-size: 0.95rem;
    color: #6b7280;
    margin-top: 0.2rem;
  }
  
  /* Responsive adjustments */
  @media (max-width: 768px) {
    #sales-chart-card-wrapper {
      padding: 1rem;
    }
  
    .sales-chart-amount {
      font-size: 1.5rem;
    }
  
    .sales-chart-subtitle {
      font-size: 0.85rem;
    }
  }
  